.typebarItem:hover {
    opacity: 1 !important;
    transition: all 0.1s;
}

#activeTypeBarTab {
    opacity: 1 !important;
}

#main_cont {
    font-family: 'Exo 2', sans-serif !important;
}

.consoleItem:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    transition: all 0.2s;
}

.basketItem {
    background: #202020;
    border: 0 !important;
    color: white !important;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.dropdown-menu {
    background: #0e0e11 !important;
}

.dropdown-item:hover {
    opacity: 1 !important;
}

.list-group-item {
    background: transparent !important;
    border: 0;
    cursor: pointer;
}

.profile-settings-item {
    color: black !important;
    background: white !important;
    border-radius: 5px;
}

.profile-settings-item-link {
    font-weight: bold;
    text-decoration: none !important;
    color: black !important;
    opacity: 0.7;
    padding: 15px 20px
}

.profile-settings-item-link:hover {
    background: #F2F2F2 !important;
    opacity: 1;
    transition: all 0.1s;
}

.profile-settings-item-link.active {
    background: #F2F2F2 !important;
    opacity: 1;
    border-radius: 5px;
}

.profile-settings-tab {
    border-radius: 5px;
    background: white;
    padding: 40px;
}

.account-settings-input:disabled {
    opacity: 0.7;
}

@media (min-width: 576px) {
    .settings-tabs-col{
        padding-left: 20px !important;
    }
}
