.footer-icon-button:hover{
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
}

.footer-icon-button{
    width: 40px !important;
}

.footer-link-header{
    opacity: 0.5;
}

.footer-link {
    text-decoration: none;
}

.footer-link:hover {
    color: rgb(0, 157, 223) !important;
    transition: all 0.5s;
}

.typebarItem:hover {
    opacity: 1 !important;
    transition: all 0.1s;
}

.navbar-item-distribution:hover {
    opacity: 1 !important;
    transition: all 0.1s;
}

.navbar-item-distribution {
    padding-inline: 15px;
    padding-block: 2px;
}

.navbar-item-distribution.active {
    opacity: 1 !important;
    background: #404044;
    border-radius: 5px;

}

#activeTypeBarTab {
    opacity: 1 !important;
}

#main_cont {
    font-family: 'Exo 2', sans-serif !important;
}

.consoleItem:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    transition: all 0.2s;
}

.basketItem {
    background: #202020;
    border: 0 !important;
    color: white !important;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.dropdown-menu {
    background: #0e0e11 !important;
}

.dropdown-item:hover {
    opacity: 1 !important;
}

.list-group-item {
    background: transparent !important;
    border: 0;
    cursor: pointer;
}

.profile-settings-item {
    color: black !important;
    background: white !important;
    border-radius: 5px;
}

.profile-settings-item-link {
    font-weight: bold;
    text-decoration: none !important;
    color: black !important;
    opacity: 0.7;
    padding: 15px 20px
}

.profile-settings-item-link:hover {
    background: #F2F2F2 !important;
    opacity: 1;
    transition: all 0.1s;
}

.profile-settings-item-link.active {
    background: #F2F2F2 !important;
    opacity: 1;
    border-radius: 5px;
}

.profile-settings-tab {
    border-radius: 5px;
    background: white;
    padding: 40px;
}

.account-settings-input:disabled {
    opacity: 0.7;
}


@media (min-width: 1200px) {

    .distribution-title{
        font-size: 4em;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .distribution-card {
        aspect-ratio: auto !important;
    }
    .distribution-image{
        display: none !important;
    }

    .distribution-title{
        font-size: 3em;
    }

}

@media (min-width: 768px) and (max-width: 992px) {
    .distribution-card {
        aspect-ratio: auto !important;
    }
    .distribution-image{
        display: none !important;
    }
    .distribution-title{
        font-size: 2em;
    }



}

@media (min-width: 768px) {

    .settings-tabs-col{
        padding-left: 20px !important;
    }
}

@media (max-width: 575px){
    .searchbar{
        padding-left: 16px;
    }

    .navbar-main{
        padding-inline: 20px !important;
    }

    .games-category-title{
        text-align: center !important;
    }

    .distribution-questions {
        margin-inline: 5px;
    }


}



@media (max-width: 768px) {
    .distribution-card {
        aspect-ratio: auto !important;
    }
    .distribution-image{
        display: none !important;
    }
    .distribution-title{
        font-size: 1em;
    }

    .games-carousel{
        aspect-ratio: 16/9;
        height: auto !important;
    }

    .typebarBox {
        flex-direction: column !important;
        align-items: start !important;
        padding-bottom: 0 !important;
    }

    .settings-tabs-col {
        padding-top: 20px !important;
    }
}

@media (max-width: 1400px){
    .distribution-card-small{
        width: 100% !important;
    }

    .distribution-card-total{
        flex-basis: 100%;
    }

}

@media (max-width: 1399px){
    .collapsed-nav-item {
        margin-block: 5px !important;
        margin-inline: 0 !important;
    }

    .collapsed-nav-item>a {
        padding-top: 0 !important;
    }
}

@media (min-width: 1400px){
    .distribution-card-total{
        flex-basis: auto;
    }

    .distribution-card-col{
        width: 430px !important;
    }


}

.accordion-button {
    background: transparent;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    padding-inline: 0px;
}

.accordion-button:not(.collapsed) {
    background: transparent;
    color: white;
    box-shadow: none;
}

.accordion-button:focus{
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: none;
}


.accordion-button::after{
    filter: invert(100%);
}

.accordion-button:not(.collapsed)::after{
    background-image: var(--bs-accordion-btn-icon);
}


